!!!
%html.h-100
  %head
    %title= @page&.title || t('title')
    %meta{"http-equiv" => "x-ua-compatible", content: "ie=edge"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0, maximum-scale=1.0"}
    %meta{charset: "utf-8"}
    %meta{name: "description", content: (content_for(:page_description) || t('page_description'))}
    %meta{name: "robots", content: "index,follow,noodp"}
    %meta{name: "generator", content: "HyperKitten - Meow"}
    %meta{name: "subject", content: t('site_subject')}
    %base{href: request.base_url}
    = stylesheet_link_tag "application"
    = csrf_meta_tags
  %body.d-flex.flex-column.h-100.bg-dark.text-light
    %header.bg-light.py-4.bg-dark.text-light
      %nav.navbar.navbar-expand-lg.navbar-light
        .container.d-flex.justify-content-between
          = link_to root_path, class: "text-decoration-none navbar-brand" do
            %h1.text-light.display-4.d-flex.align-items-center
              = image_tag "logo.svg", size: "64", class: "me-2"
              %span.fw-lighter.text-uppercase Hyper
              %span.fw-semibold.text-uppercase Kitten
          %ul.navbar-nav.mb-2.mb-lg-0
            - main_menu = menu("main-menu")
            - if main_menu.present?
              - main_menu.menu_items.each do |menu_item|
                - if menu_item.page.present?
                  %li.nav-item.ms-2= link_to menu_item.title, page_path(menu_item.page), target: menu_item.target, class: "nav-link text-light text-uppercase"
                - else
                  %li.nav-item.ms-2= link_to menu_item.title, menu_item.url, target: menu_item.target, class: "nav-link text-light text-uppercase"
    = yield
    %footer.footer.mt-5.py-5.bg-black.text-light.bg-opacity-25
      .container.d-flex.align-items-center
        = image_tag "logo.svg", size: "24", class: "me-2"
        %span= "© #{Time.now.year} #{t('title')}"
        -# %ul.nav
        -#   %li.nav-item
        -#     = link_to "https://www.facebook.com/hyperkittenorg", class: "text-decoration-none text-light" do
        -#       %i.bi-facebook.me-2
        -#   %li.nav-item
        -#     = link_to "https://twitter.com/hyperkittenorg", class: "text-decoration-none text-light" do
        -#       %i.bi-twitter.me-2
